{% extends 'base.html' %}

{% load widget_tweaks %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Login Page{% endblock %}


{% block content %}
{% include 'includes/navbar.html' %}

 <form class="sm:w-full md:w-[80%] lg:w-[60%] mx-auto flex flex-col gap-4 px-2 py-2" method="POST"  enctype="multipart/form-data">
     {% csrf_token %}
      <div class="flex flex-col items-center border mt-6 gap-2">
        <img class="w-[150px] rounded-full" id="avatar" src='{{user.profile.avatar}}'" alt=""/>
        <span class="text-slate-400" id="realname">@{{user.profile.user.username}}</span>
        <h1 class="text-2xl font-medium">{{user.profile.name}}</h1>
        <span class="text-slate-600"
          ><i class="fa-solid fa-location-dot"></i> {{user.profile.location.name}}</span
        >
      </div>
      <div>
        <p>
          {{profile.bio}}
        </p>
        {{ form|crispy }}
        <button class="text-white py-2 px-4 bg-blue-400" title="Submit" type="submit" >Submit</button>
        <button class="py-2 px-4 border border-md" title="Cancel" ><a href="{{ request.META.HTTP_REFERER }}">Cancel</a></button>
      </div>
 </form>

{% endblock %}
{% block script %}

<script>

// This updates the avatar
const fileInput = document.querySelector('input[type="file"]');

fileInput.addEventListener('change', (event) => {
const file = event.target.files[0];
const image = document.querySelector('#avatar');

if (file && file.type.includes('image')) {
    const url = URL.createObjectURL(file);
    image.src = url;
}
});

// This updates the name
const realnameInput = document.getElementById('id_realname');
const realnameOutput = document.getElementById('realname');

realnameInput.addEventListener('input', (event) => {
realnameOutput.innerText = event.target.value;
});

</script>

{% endblock %}