{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Service Detail Page {% endblock %}

{% block content %}

{% include 'includes/navbar.html' %}

    <div class="overflow-x-auto w-full md:w-[80%] lg:w-[75%] mx-auto ">
      <h1 class="font-bold text-lg md:text-3xl py-[1rem] text-center">My Booking List</h1>
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Name</th>
        <th>title</th>
        <th>time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      {% if bookings %}
      {% for book in bookings %}
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="{{book.service.image1.url}}" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{book.service.title}}</div>
              <div class="text-sm opacity-50">{{book.location}}</div>
            </div>
          </div>
        </td>
        <td>
          {{book.user}}
          <br/>
          <span class="badge badge-ghost badge-sm">{{book.time}} | {{book.date}}</span>
        </td>
        <td>Purple</td>
        <th>
          <button class="btn btn-ghost btn-xs">details</button>
        </th>
      </tr>
      {% endfor %}

      {% else %}

      <h2>Your Currently have no bookings for Now</h2>

      {% endif %}
    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
        <th></th>
      </tr>
    </tfoot>
    
  </table>
</div>
{% endblock %}